@font-face {
    font-family: 'PFDinDisplay';
    src: url('../fonts/PFDINDISPLAYPRO-REG.ttf');
}
@font-face {
    font-family: 'PFDinDisplayBold';
    src: url('../fonts/PFDINDISPLAYPRO-BOLD.ttf');
}
